.questions {
  max-width: 80%;
  padding: 5%;
  padding-top: 2%;
  background-color: white;
  margin: auto;
  margin-top: 5%;
}

button {
  border-color: #66BDFF;
  color: #CC716E;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  margin-top: 1%;
}

@media all and (max-width: 750px) {
  button {
    font-size: 16px;
  }
}
